.carousel-img {
    width: 100%;
    height: 500px; /* Ajusta la altura si lo deseas */
    object-fit: contain;
    object-position: center;
    background: #3f3f3f; /* Opcional: para que los bordes vacíos sean negros y se vea elegante */
}